*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Teko', sans-serif;
    line-height: 1.25;
    border: 0;
    margin: 0;
    background-color: #262420;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    float: none;
    width: 1200px;
    margin: 0 auto;
}
.header{
    border-bottom: 1px solid #eeeeee;
    height: 140px;
    background-color: white;
}
.logo{
    width: 35%;
    float: left;
}
.header_img{
    float: left;
}
.toplinks{
    float: right;
}
.toplinks li{
    float: left;
    list-style: none;
}
.toplinks li:hover{
    transform: scale(1.2);
    transition: 300ms;
}
#pin{
    margin-top: -5px;
    margin-left: 5px;
}
#twi{
    margin-top: -4px;
    margin-left: -5px;
}
#fb{
    margin-left: 10px;
}
.nav{
    border-bottom: 1px solid #eeeeee;
    background-color: #a3967e;
}
.nav a{
    color: white;
}
.nav a:hover{
    border-bottom: white solid 1px;
}
.nav ul li{
    list-style: none;
    float: left;
    margin-left: 80px;
    padding-left: 6%;

}
.nav li:hover{
    transform: scale(1.1);
    transition: 300ms;
}
/*------------------------------COPY ĐẾN ĐÂY------------------------------*/

.main .intro_img,.volunteer_img{
    opacity: 0.6;
    position: relative;
    z-index: 1;
}
.intro_img{
    opacity: 0.6;
    float: left;
    width: 100%;
}
.main p:hover{
    transform: scale(1.1);
    transition: 300ms;
}
.main .title{
    font-size: 60px;
    color: white;
    padding-left: 18%;
    margin-top: -700px;
    float: left;
    position: absolute;
    z-index: 2;
}
.main .title p{
    font-size: 35px;
    padding-left: 20px;
    margin-left: 190px;
    padding-top: 7px;
    background-color: #f56331;
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
}
.main .title a{
    color: white;
}
.race_info{
    float: left;
    background-color: #a3967e;
    width: 100%;
    height: 200px;
    padding-left: 8%;
    border-top: 1px solid #eeeeee;

}
.race_info ul li{
    list-style: none;
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.main .details{
    float: left;
    margin-top: -100px;
    margin-left: 40px;
    position: relative;
    z-index: 2;
}
.main .details_1:hover{
    transform: scale(1.1);
    transition: 300ms;
}
.main .details_2:hover{
    transform: scale(1.1);
    transition: 300ms;
}
.main .details_3:hover{
    transform: scale(1.1);
    transition: 300ms;
}
.main .details_4:hover{
    transform: scale(1.1);
    transition: 300ms;
}
.main .details li{
    list-style: none;
    float: left;
    margin-left: 175px;
    font-size: 30px;
    font-weight: 700;
}
.main .details a{
    color: black;
}
.registration{
    float: left;
    background-color: white;
    font-size: 30px;
    text-align: left;
    padding-left: 50px;
}
.registration h1{
    color: #f56331;
}
.registration p{
    width: 40%;
}
.fee1{
    float: left;
    width: 200px;
    background-color: #efebe5;
    font-size: 25px;
    line-height: 0.2;
    padding: 20px;
    text-align: center;
    margin-left: -600px;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #eeeeee;
}
.main .fee1 .last a{
    color: white;
}
.fee2{
     float: left;
     width: 200px;
     background-color: #efebe5;
     font-size: 25px;
     line-height: 0.2;
     padding: 20px;
     text-align: center;
     margin-left: -300px;
     margin-top: 40px;
     border-radius: 5px;
     box-shadow: 5px 5px 10px #eeeeee;
 }
.main .fee2 .last a{
    color: white;
}
.last{
    background-color: #f56331;
    width: 160px;
    height: 40px;
    padding-top: 20px;
    border-radius: 5px;
    color: white;
    position: absolute;
    z-index: 2;
}
.last:hover{
    transform: scale(1.05);
    transition: 300ms;
}
.volunteer div:hover{
    transform: scale(1.1);
    transition: 300ms;
}
.volunteer{
    color: white;
    margin-left: 8%;
    font-size: 50px;
    margin-top: -500px;
    position: absolute;
    z-index: 2;
}

.main .volunteer a{
    color: white;
}
.register_volunteer{
    background-color: #f56331;
    width: 220px;
    margin-left: 40%;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 7px;
}
.newsfeed{
    background-color: white;
    overflow: hidden;
    float: left;
    margin-top: -7px;
}
.newsfeed h1{
    color: #f56331;
    font-size: 50px;
    padding-left: 40px;
    font-weight: 900;
}
.n1{
    float: left;
    width: 60%;
    padding-left: 40px;
    box-shadow: 5px 5px 10px #eeeeee;
}
.n1 figcaption{
    font-size: 30px;
    padding-left: 20%;
}
.n1 p{
    font-size: 20px;
    text-align: center;
}
.n1 a figcaption{
    color: #4d463d;
}
.n1 a img:hover,figcaption:hover{
    transform: scale(1.05);
    transition: 300ms;
}
.n1 a figcaption:hover{
    color: #f56331;
}
.n2,.n3{
    float: right;
    width: 35%;
    margin: 20px;
    margin-top: -15px;
    box-shadow: 5px 5px 10px #eeeeee;
}

.n2 figcaption{
    font-size: 30px;
    padding-left: 30%;
}
.n2 figcaption:hover{
    transform: scale(1.05);
    transition: 300ms;
    color: #f56331;
}
.n2 img:hover{
    transform: scale(1.05);
    transition: 300ms;
}
.n2 a{
    color: #4d463d;
}

.n3 figcaption{
    font-size: 30px;
    text-align: center;
}
.n3 figcaption:hover{
    transform: scale(1.05);
    transition: 300ms;
    color: #f56331;
}
.n3 img:hover{
    transform: scale(1.05);
    transition: 300ms;
}
.n3 a{
    color: #4d463d;
}
.question_and_contact{
    width: 30%;
    float: right;
    background-color: transparent;
    margin-top: -350px;
    margin-left: 700px;
    position: absolute;
    z-index: 2;
}
.question_and_contact button:hover{
    transform: scale(1.1);
    transition: 300ms;
}
.question_and_contact #message{
    float: left;
    border-bottom: black 1px solid;
    width: 350px;
    height: 100px;
    margin-top: 20px;
    border-radius: 7px 7px 0 0;
    font-size: 20px;
    text-indent: 10px;
    background-color: #eeeeee;
}
.question_and_contact #name{
    float: left;
    border-bottom: black 1px solid;
    width: 350px;
    height: 40px;
    margin-top: 20px;
    border-radius: 7px 7px 0 0;
    font-size: 20px;
    text-indent: 10px;
    background-color: #eeeeee;
}
.question_and_contact #email{
    float: left;
    border-bottom: black 1px solid;
    width: 350px;
    height: 40px;
    margin-top: 20px;
    border-radius: 7px 7px 0 0;
    font-size: 20px;
    text-indent: 10px;
    background-color: #eeeeee;
}
#button{
    background-color: #f56331;
    color: white;
    width: 110px;
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 220px;
    margin-left: -230px;
    border-radius: 7px;
}
.question{
    color: white;
    font-size: 50px;
    margin-top: -640px;
    margin-left: 620px;
    position: absolute;
    z-index: 2;
}
.forus{
    color: #f56331;
    font-size: 50px;
    margin-top: -540px;
    margin-left: 900px;
    position: absolute;
    z-index: 2;
}

/*-----------------------------------COPY TỪ ĐÂY----------------------------*/
.footer{
    width: 100%;
    float: left;
    background-color: white;
    margin-top: -6px;
}
.logo2{
    float: left;
    width: 15%;
    margin-top: 25px;
}
.address{
    float: left;
    font-size: 25px;
}
.more_info{
    float: left;
    font-size: 18px;
    margin-left: 120px;
    text-align: center;
}
.more_info a{
    color: black;
}
.more_info a:hover{
    border-bottom: 1px solid black;
}
.toplinks2{
    float: right;
}
.toplinks2 li{
    list-style: none;
    float: left;
    margin-left: 30px;
    margin-top: 80px;
}
.toplinks2 li:hover{
    transform: scale(1.2);
    transition: 300ms;
}
#pin2{
    margin-top: 74px;
}
#twi2{
    margin-top: 74px;
    margin-left: 20px;
}





