*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Teko', sans-serif;
    line-height: 1.25;
    border: 0;
    margin: 0;
    background-color: #262420;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    float: none;
    width: 1200px;
    margin: 0 auto;
}
.header{
    border-bottom: 1px solid #eeeeee;
    height: 140px;
    background-color: white;
}
.logo{
    width: 35%;
    float: left;
}
.header_img{
    float: left;
}
.toplinks{
    float: right;
}
.toplinks li{
    float: left;
    list-style: none;
}
.toplinks li:hover{
    transform: scale(1.2);
    transition: 300ms;
}
#pin{
    margin-top: -5px;
    margin-left: 5px;
}
#twi{
    margin-top: -4px;
    margin-left: -5px;
}
#fb{
    margin-left: 10px;
}
.nav{
    border-bottom: 1px solid #eeeeee;
    background-color: #a3967e;
}
.nav a{
    color: white;
}
.nav a:hover{
    border-bottom: white solid 1px;
}
.nav ul li{
    list-style: none;
    float: left;
    margin-left: 80px;
    padding-left: 6%;

}
.nav li:hover{
    transform: scale(1.1);
    transition: 300ms;
}

.footer{
    width: 100%;
    float: left;
    background-color: white;
}
.logo2{
    float: left;
    width: 15%;
    margin-top: 25px;
}
.address{
    float: left;
    font-size: 25px;
}
.more_info{
    float: left;
    font-size: 18px;
    margin-left: 120px;
    text-align: center;
}
.more_info a{
    color: black;
}
.more_info a:hover{
    border-bottom: 1px solid black;
}
.toplinks2{
    float: right;
}
.toplinks2 li{
    list-style: none;
    float: left;
    margin-left: 30px;
    margin-top: 80px;
}
.toplinks2 li:hover{
    transform: scale(1.2);
    transition: 300ms;
}
#pin2{
    margin-top: 74px;
}
#twi2{
    margin-top: 74px;
    margin-left: 20px;
}


/* Phần thân trang Past Race */


.maincolumm{
    width: 1200px;
    background-color: white;
    display: block;
    margin: 0 auto;
    height: 100%;
    background-image: url("../images/backgroundre3.jpg");
    background-repeat: repeat-y;
    background-position: top center;
    color: white;
}

.round1{
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 250px;
    border-bottom: black dashed;
}
#round1v1{
    border-top: black dashed;
}

.anh{
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    text-align: center;
}
.tieude{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 950px;
    padding-left: 30px;
}
a{
    text-decoration: none;
}
.tdcolor{
    color: #ef5122;
    font-weight: 800;
}
.tdcolor:hover{
    color: darkblue;
}
h1{
    color: #ef5122;
}
.ptrace:hover{
    transition-delay: 0s;
    transition-duration: 1.5s;
    transition-property: all;
    transition-timing-function: linear;
    transform: scale(1.4);
}
h1{
    padding-left: 30px;
    margin: 0;
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
}
h5{
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 40px;
}

p{
    font-size: 30px;
    margin-top: -15px;
    color: white;
}

.button{
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 35px;
    color: #ffffff;
    border-radius: 5px;
    background: #ef5122;
    border: 1px solid #9B6A1D;
    transition: 0.4s;
}
.button:hover{
    background: darkblue;
}
.lienhe{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
#questiona{
    height: 100%;
}
.question_and_contact{
    width: 30%;
    float: right;
    background-color: transparent;
    margin-top: -350px;
    margin-left: 700px;
    position: absolute;
    z-index: 2;
}
.question_and_contact button:hover{
    transform: scale(1.1);
    transition: 300ms;
}
.question_and_contact #message{
    float: left;
    border-bottom: black 1px solid;
    width: 350px;
    height: 100px;
    margin-top: 20px;
    border-radius: 7px 7px 0 0;
    font-size: 20px;
    text-indent: 10px;
    background-color: #eeeeee;
}
.question_and_contact #name{
    float: left;
    border-bottom: black 1px solid;
    width: 350px;
    height: 40px;
    margin-top: 20px;
    border-radius: 7px 7px 0 0;
    font-size: 20px;
    text-indent: 10px;
    background-color: #eeeeee;
}
.question_and_contact #email{
    float: left;
    border-bottom: black 1px solid;
    width: 350px;
    height: 40px;
    margin-top: 20px;
    border-radius: 7px 7px 0 0;
    font-size: 20px;
    text-indent: 10px;
    background-color: #eeeeee;
}
#bt{
    background-color: #f56331;
    color: white;
    width: 110px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 220px;
    margin-left: -230px;
    border-radius: 7px;
}

.question{
    color: white;
    margin-top: -640px;
    margin-left: 620px;
    position: absolute;
    z-index: 2;
}
h4{
    font-size: 90px;
}
.forus{
    color: #f56331;
    font-size: 50px;
    margin-top: -540px;
    margin-left: 900px;
    position: absolute;
    z-index: 2;
}